* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f0c5c5;
}

header{
    background-color: #f0c5c5;
}

footer {
    padding: 10px;
    background-color: #f0c5c5;
}

nav{
    background-color: #463636;
}

nav a {
    text-decoration: none;
    color: rgb(235, 133, 133);
    font-size: 1.4rem;
    padding: 10px;
}

#amain a{
    text-decoration: none;
    color: rgb(153, 111, 111);
    font-size: 1.4rem;
    padding: 10px;
}

form button, input{
    background-color: rgb(158, 116, 116);
    color: white;
    
    border-radius: 9px;
}

::placeholder{
    color: rgb(187, 150, 150);
}